.mapArea {
  width: calc(65%);
  height: calc(100%);
  left: 0px;
  top: 0px;
  background-color: palevioletred;
  position:absolute;
}

.detailsArea {
  display: block;
  position: absolute;
  width: calc(35%);
  height: calc(100%);
  left: calc(65%);
  top: 0px;
  background-color: palegoldenrod;
}

.searchArea {
  float: left;
  margin: 16px;
  width: calc(100% - 30px);
  height: calc(65px);
  left: 15px;
  top: 15px;
  background-color: #FFFFFF7F;
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
}

.mapViewArea {
  height: calc(100%);
}