.mapArea {
  display: block;
  position: absolute;
  width: calc(65%);
  height: calc(100%);
  left: 0px;
  top: 0px;
  background-color: palevioletred;
}

.detailsArea {
  display: block;
  position: absolute;
  width: calc(35%);
  height: calc(100%);
  left: calc(65%);
  top: 0px;
  background-color: palegoldenrod;
}

.searchArea {
  display: block;
  position: absolute;
  width: calc(100% - 30px);
  height: calc(40px);
  left: 15px;
  top: 15px;
  background-color: palegreen;
}