.mapContainer{
    height: calc(100%);
}

.leaflet-container {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.summary{
    display: flex;
    flex-flow: column;
}

.buttonHolder{
    display: flex;
    flex-flow: row;
}